python==3.10
streamlit
spacy==3.5.0
thinc==8.1.7
pandas
vaderSentiment
folium
google-auth
google-cloud-storage
pyarrow
numpy
matplotlib
google-cloud-bigquery
seaborn
wordcloud
python-dotenv
